{% extends 'base.html' %}
{% block title %}
    Book seats
{% endblock title %}
{% block content %}
  <div class="bg-white py-6 sm:py-8 lg:py-12 flex flex-cols justify-center items-center">
    <div class="mx-auto max-w-screen-2xl md:px-8 px-2">
      <div class="mb-6 flex items-end justify-between">
        <h2 class="text-2xl font-bold text-gray-800 lg:text-3xl">{{stadium.name}} - {{stadium.match}}</h2>
      </div>
  
      <div class="grid gap-y-2 gap-x-4 mx-auto sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        {% for s in seats %}
        {% if s.taken == 0 %}
        
            <div class="h-56 w-48 shadow-md flex flex-col items-center justify-center cursor-pointer rounded-xl">
              <a href="/select_seat/{{s.id}}">
            <div class="flex flex-col items-center justify-center pt-2">
              <span class="text-gray-500">Seat</span>
              <span class="text-lg font-bold flex items-center justify-center text-gray-800 transition duration-100 hover:text-gray-500 lg:text-xl">{{s.id}}</span>
              <span class="text-gray-500 text-sm">{{s.category}}</span>
            </div></a>
          </div>
          {% else %}
          <div class="h-56 w-48 flex flex-col items-center justify-center shadow-md cursor-not-allowed bg-gray-100 rounded-xl">
            <div class="flex flex-col items-center justify-center pt-2">
              <span class="text-gray-400">Seat</span>
              <span href="#" class="text-lg font-bold flex items-center justify-center text-gray-400 transition duration-100 lg:text-xl">{{s.id}}</span>
            </div>
          </div>
        {% endif %}
        {% endfor %}
          </div>
      </div>
    </div>
  </div>
{% endblock content %}